<h1>Listing Items </h1>
<% if can? :create, @item %>
<%= link_to "Add New Item" , new_item_path %>
<% end %> 
<% @item.each do |i| %>
   <% if i.removed == false %>
	<p> <%= i.listingtype %> 
    
	 |<% if can? :read, @item %> 
   <%= link_to "Show this item" , item_path(i) %> 
	 <% end %> | 
	 <div class="delete">
    <% if can? :only_hide, @item %>
	   <%= link_to "Delete" %> 
     <% end %>
	 </div>
	 <input type = "hidden" value = "<%= i.id %>"  class = "id" >
	</p>
   <% end %>
<% end %>
<p><%= link_to "back to dashboard" , dashboard_index_path %></p>

<script>
$(document).ready(function()
{
   $(".delete").click(function()
   {
   	  console.log($(this).next().val())
      var url = "/hide_item/" + $(this).next().val()
      $(this).hide(); 
      $.post(url);

    });
});
</script>


